/// @prop {number} $bpXS [30em] - equals viewport min-width 480px (smartphone)
/// @group responsive
$bpXs: 30em !default;

/// @prop {number} $bpSm [48em] - equals viewport min-width 768px (tablet)
/// @group responsive
$bpSm: 48em !default;

/// @prop {number} $bpMd [60em] - equals viewport min-width 960px (medium devices)
/// @group responsive
$bpMd: 60em !default;

/// @prop {number} $bpLg [70em] - equals viewport min-width 1120px (large devices)
/// @group responsive
$bpLg: 70em !default;

/// @prop {number} $bpXl [80em] - equals viewport min-width 1280px (very large devices)
/// @group responsive
$bpXl: 80em !default;

/// @prop {number} $bpXsMax [$bpSm - 1] - equals viewport max-width 767px (smartphone)
/// @group responsive
$bpXsMax: ($bpSm - 1) !default;

/// @prop {number} $bpSmMax [$bpMd - 1] - equals viewport max-width 959px (tablet)
/// @group responsive
$bpSmMax: ($bpMd - 1) !default;

/// @prop {number} $bpMdMax [$bpLg - 1] - equals viewport max-width 1119px (large devices)
/// @group responsive
$bpMdMax: ($bpLg - 1) !default;

/// @prop {number} $bpLgMax [$bpXl - 1] - equals viewport max-width 1279px (very large devices)
/// @group responsive
$bpLgMax: ($bpXl - 1) !default;


/// @prop {string} $bodyFont [sans-serif] - font-family used in body
/// @group typo
$bodyFont: sans-serif !default;

/// @prop {string} $headerFont [sans-serif] - font-family used for h1, h2 ,h3 ,h4, h5, h6
/// @group typo
$headerFont: sans-serif !default;

/// @prop {string} $monoFont [monospace] - font-family used for <code>
/// @group typo
$monoFont: monospace !default;

/// @prop {number} $base-size [16] - default size used for global size calculations
$base-size: 16;

/// @prop {string} $headings-weight [bold] - font-weight of h1, h2 ,h3 ,h4, h5, h6
/// @group typo
$headings-weight: bold !default;

/// @prop {number} $h1-size [48] - font-size of h1
/// @group typo
$h1-size: 48;

/// @prop {number} $h1-height [56] - line-height of h1
/// @group typo
$h1-height: 56;

/// @prop {number} $h2-size [40] - font-size of h2
/// @group typo
$h2-size: 40;

/// @prop {number} $h2-height [48] - line-height of h2
/// @group typo
$h2-height: 48;

/// @prop {number} $h3-size [32] - font-size of h3
/// @group typo
$h3-size: 32;

/// @prop {number} $h3-height [40] - line-height of h3
/// @group typo
$h3-height: 40;

/// @prop {number} $h4-size [24] - font-size of h4
/// @group typo
$h4-size: 24;

/// @prop {number} $h4-height [32] - line-height of h4
/// @group typo
$h4-height: 32;

/// @prop {number} $h5-size [20] - font-size of h5
/// @group typo
$h5-size: 20;

/// @prop {number} $h5-height [28] - line-height of h5
/// @group typo
$h5-height: 28;

/// @prop {number} $h6-size [16] - font-size of h6
/// @group typo
$h6-size: 16;

/// @prop {number} $h6-height [24] - line-height of h6
/// @group typo
$h6-height: 24;
