/// @prop {number} $bpXS [30em] - equals viewport min-width 480px (smartphone)
/// @group responsive
$bpXs: 30em !default;

/// @prop {number} $bpSm [48em] - equals viewport min-width 768px (tablet)
/// @group responsive
$bpSm: 48em !default;

/// @prop {number} $bpMd [60em] - equals viewport min-width 960px (medium devices)
/// @group responsive
$bpMd: 60em !default;

/// @prop {number} $bpLg [70em] - equals viewport min-width 1120px (large devices)
/// @group responsive
$bpLg: 70em !default;

/// @prop {number} $bpXl [80em] - equals viewport min-width 1280px (very large devices)
/// @group responsive
$bpXl: 80em !default;

/// @prop {number} $bpXsMax [$bpSm - 1] - equals viewport max-width 767px (smartphone)
/// @group responsive
$bpXsMax: ($bpSm - 1) !default;

/// @prop {number} $bpSmMax [$bpMd - 1] - equals viewport max-width 959px (tablet)
/// @group responsive
$bpSmMax: ($bpMd - 1) !default;

/// @prop {number} $bpMdMax [$bpLg - 1] - equals viewport max-width 1119px (large devices)
/// @group responsive
$bpMdMax: ($bpLg - 1) !default;

/// @prop {number} $bpLgMax [$bpXl - 1] - equals viewport max-width 1279px (very large devices)
/// @group responsive
$bpLgMax: ($bpXl - 1) !default;

/// @prop {number} $base-size [16] - default size used for global size calculations
$base-size: 16;


// Max width for container
$containerWidth: 1200px !default;

// Gutter size in pixels (without the unit we can do math easily)
$gutter: 32 !default;

// Number of columns in a row
$numColumns: 12 !default;
