/// column
/// @since 3.0.0
/// @author Bernhard Ruoff
/// @access public

[data-col] {
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
  float: left;
  margin-bottom: 0;
  width: 100%;
  padding-left: ($gutter / 2) + px;
  padding-right: ($gutter / 2) + px;
}

// Create columns
@for $i from 1 through $numColumns {
  [data-col~="#{$i}"] {
    width: ($i / $numColumns) * 100%;
  }
}

@for $i from 1 through $numColumns {
  [data-col~="#{$i}xs"] {
    @media (min-width: $bpXs) {
      width: ($i / $numColumns) * 100%;
    }
  }
}

@for $i from 1 through $numColumns {
  [data-col~="#{$i}sm"] {
    @media (min-width: $bpSm) {
      width: ($i / $numColumns) * 100%;
    }
  }
}

@for $i from 1 through $numColumns {
  [data-col~="#{$i}md"] {
    @media (min-width: $bpMd) {
      width: ($i / $numColumns) * 100%;
    }
  }
}

@for $i from 1 through $numColumns {
  [data-col~="#{$i}lg"] {
    @media (min-width: $bpLg) {
      width: ($i / $numColumns) * 100%;
    }
  }
}

@for $i from 1 through $numColumns {
  [data-col~="#{$i}xl"] {
    @media (min-width: $bpXl) {
      width: ($i / $numColumns) * 100%;
    }
  }
}
