/// column offset
/// @since 3.0.0
/// @author Bernhard Ruoff
/// @access public

// Offset for columns
@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="+#{$i}"] {
    margin-left: (($i / $grid-num-columns) * 100%);
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="+#{$i}xs"] {
    margin-left: (($i / $grid-num-columns) * 100%);
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="+#{$i}sm"] {
    @media (min-width: $bp-sm) {
      margin-left: (($i / $grid-num-columns) * 100%);
    }
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="+#{$i}md"] {
    @media (min-width: $bp-md) {
      margin-left: (($i / $grid-num-columns) * 100%);
    }
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="+#{$i}lg"] {
    @media (min-width: $bp-lg) {
      margin-left: (($i / $grid-num-columns) * 100%);
    }
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="+#{$i}xl"] {
    @media (min-width: $bp-xl) {
      margin-left: (($i / $grid-num-columns) * 100%);
    }
  }
}

@for $i from 1 through ($grid-num-columns - 1) {
  [data-col~="+#{$i}xxl"] {
    @media (min-width: $bp-xxl) {
      margin-left: (($i / $grid-num-columns) * 100%);
    }
  }
}

[data-col~="+0"] {
  margin-left: 0;
}

[data-col~="+0xs"] {
  @media (min-width: $bp-xs) {
    margin-left: 0;
  }
}

[data-col~="+0sm"] {
  @media (min-width: $bp-sm) {
    margin-left: 0;
  }
}

[data-col~="+0md"] {
  @media (min-width: $bp-md) {
    margin-left: 0;
  }
}

[data-col~="+0lg"] {
  @media (min-width: $bp-lg) {
    margin-left: 0;
  }
}

[data-col~="+0xl"] {
  @media (min-width: $bp-xl) {
    margin-left: 0;
  }
}

[data-col~="+0xxl"] {
  @media (min-width: $bp-xxl) {
    margin-left: 0;
  }
}