/// grid row
/// @since 3.0.0
/// @author Bernhard Ruoff
/// @access public

@mixin row($outerGutter: true) {

  @if $outerGutter {
    margin-left: ($gutter / -2) + px;
    margin-right: ($gutter / -2) + px;
  }

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

[data-row] {
  @include row();
}

[data-row~="no-gutter"] {
  margin-left: 0 !important;
  margin-right: 0 !important;

  > [data-col] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}