// Colors
$xlcss: (
        base: (
                "text": $text,
                "link": $link,
                "linkHover": darken($link, 10),
                "super": $super,
                "superHover": darken($super, 10),
                "highlight": $highlight,
                "divider": rgba($text, .06),
                "border": borderColor($background, $text),
        ),
        btn: (
                "default": $link,
                "defaultHover": darken($link, 10),
                "super": $super,
                "superHover": darken($super, 10),
                "minor": rgba($minor, .1),
                "minorHover": rgba($minor, .2),
                "pill": rgba($text, .1),
                "pillHover": rgba($text, .2)
        ),
        text: (
                "default": $text,
                "invert": $background,
                "link": $link,
                "linkHover": darken($link, 10),
                "super": $super,
                "superHover": darken($super, 10),
                "light": rgba($text, .6),
                "lighter": rgba($text, .4),
                "lightest": rgba($text, .2),
                "disabled": rgba($text, .2)
        ),
        background: (
                "default": $background,
                "shaded": setColor($background, darken($background, 4), lighten($background, 4)),
                "light": setColor($background, darken($background, 4), lighten($background, 4)),
                "lightest": setColor($background, darken($background, 8), lighten($background, 8)),
                "invert": $text,
                "backdrop": setColor($background, rgba($text, .8), rgba($background, .8))
        ),
        state: (
                "hover": rgba($link, .06),
                "selected": rgba($link, .12),
                "disabled": rgba($text, .2),
                "notification": systemColor(blue),
                "error": systemColor(red),
                "success": systemColor(green),
                "warning": systemColor(orange),
                "urgend": $super,
                "marked": $highlight
        )
) !default;

// set $colors to name of your colormap
$colors: $xlcss;