/// list styles
/// @since 3.0.0
/// @author Bernhard Ruoff
/// @access public

ul.unstyled,
ol.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.inline,
ol.inline {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    display: inline-block;
  }
}
