/// data-padding
/// @since 3.0.0
/// @author Bernhard Ruoff
/// @access public

$base-padding: rem(16);

[data-padding~="around"] {
  padding: $base-padding;
}

[data-padding~="top"] {
  padding-top: $base-padding;
}

[data-padding~="right"] {
  padding-right: $base-padding;
}

[data-padding~="bottom"] {
  padding-bottom: $base-padding;
}

[data-padding~="left"] {
  padding-left: $base-padding;
}
