[data-padding~="around"] {
  padding: rem($base-padding);
}

[data-padding~="top"] {
  padding-top: rem($base-padding);
}

[data-padding~="right"] {
  padding-right: rem($base-padding);
}

[data-padding~="bottom"] {
  padding-bottom: rem($base-padding);
}

[data-padding~="left"] {
  padding-left: rem($base-padding);
}