$base-padding: rem(16);

.padding {
  padding: $base-padding;
}

.padding-top {
  padding-top: $base-padding;
}

.padding-right {
  padding-right: $base-padding;
}

.padding-bottom {
  padding-bottom: $base-padding;
}

.padding-left {
  padding-left: $base-padding;
}

.padding-horizontal {
  padding-top: $base-padding;
  padding-bottom: $base-padding;
}

.padding-vertical {
  padding-left: $base-padding;
  padding-right: $base-padding;
}