/// @since 3.0.0
/// @author Bernhard Ruoff
/// @access public

@mixin show($parent) {
  #{$parent} {
    display: block !important;
  }
  table#{$parent} {
    display: table !important;
  }
  tr#{$parent} {
    display: table-row !important;
  }
  th#{$parent},
  td#{$parent} {
    display: table-cell !important;
  }
}

@include show('.show');

@media (max-width: $bp-xs-max) {
  @include show('.show-xs');
}

@media (min-width: $bp-sm) and (max-width: $bp-sm-max) {
  @include show('.show-sm');
}

@media (min-width: $bp-md) and (max-width: $bp-md-max) {
  @include show('.show-md');
}

@media (min-width: $bp-lg) {
  @include show('.show-lg');
}

@media (min-width: $bp-xl) {
  @include show('.show-xl');
}

@media (min-width: $bp-xxl) {
  @include show('.show-xl');
}

@media print {
  @include show('.show-print');
}
