/// @since 3.0.0
/// @author Bernhard Ruoff
/// @access public

// text align helper classes
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
