[data-flex] {
  @include flexbox;
}

[data-flex~="grid"] {
  @include flex-wrap(wrap);
  margin-left: ($gutter / -2) + px;
  margin-right: ($gutter / -2) + px;

  > :not([data-flex-col]) {
    padding-left: ($gutter / 2) + px;
    padding-right: ($gutter / 2) + px;
    @include flex(1 1 auto);
  }
}

[data-flex~="tile"] {
  @include flex-wrap(wrap);
}

// center all
[data-flex~="center-all"] {
  @include justify-content(center);
  @include align-items(center);
}