/// data-column
/// @author Bernhard Ruoff
/// @access public

// Create columns

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}"] {
    @include flex(0 1 (($i / $grid-num-columns) * 100%));
  }
}

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}xs"] {
    @include flex(0 1 (($i / $grid-num-columns) * 100%));
  }
}

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}sm"] {
    @media (min-width: $bp-sm) {
      @include flex(0 1 (($i / $grid-num-columns) * 100%));
    }
  }
}

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}md"] {
    @media (min-width: $bp-md) {
      @include flex(0 1 (($i / $grid-num-columns) * 100%));
    }
  }
}

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}lg"] {
    @media (min-width: $bp-lg) {
      @include flex(0 1 (($i / $grid-num-columns) * 100%));
    }
  }
}

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}xl"] {
    @media (min-width: $bp-xl) {
      @include flex(0 1 (($i / $grid-num-columns) * 100%));
    }
  }
}

@for $i from 1 through $grid-num-columns {
  [data-col~="#{$i}xxl"] {
    @media (min-width: $bp-xxl) {
      @include flex(0 1 (($i / $grid-num-columns) * 100%));
    }
  }
}

[data-flex~="tile"] {
  // Create columns
  @for $i from 1 through $grid-num-columns {
    [data-col~="#{$i}"] {
      min-height: ($i / $grid-num-columns) * 100vw;
    }
  }

  @for $i from 1 through $grid-num-columns {
    [data-col~="#{$i}xs"] {
      min-height: ($i / $grid-num-columns) * 100vw;
    }
  }

  @for $i from 1 through $grid-num-columns {
    [data-col~="#{$i}sm"] {
      @media (min-width: $bp-sm) {
        min-height: ($i / $grid-num-columns) * 100vw;
      }
    }
  }

  @for $i from 1 through $grid-num-columns {
    [data-col~="#{$i}md"] {
      @media (min-width: $bp-md) {
        min-height: ($i / $grid-num-columns) * 100vw;
      }
    }
  }

  @for $i from 1 through $grid-num-columns {
    [data-col~="#{$i}lg"] {
      @media (min-width: $bp-lg) {
        min-height: ($i / $grid-num-columns) * 100vw;
      }
    }
  }

  @for $i from 1 through $grid-num-columns {
    [data-col~="#{$i}xl"] {
      @media (min-width: $bp-xl) {
        min-height: ($i / $grid-num-columns) * 100vw;
      }
    }
  }

  @for $i from 1 through $grid-num-columns {
    [data-col~="#{$i}xxl"] {
      @media (min-width: $bp-xxl) {
        min-height: ($i / $grid-num-columns) * 100vw;
      }
    }
  }
}
