/// @since 3.0.6
/// @group grid
/// @author Bernhard Ruoff
/// @access public

[data-flex] {
  @include flexbox;
}

[data-flex~="grid"] {
  @include flex-wrap(wrap);
  margin-left: ($grid-gutter / -2) + px;
  margin-right: ($grid-gutter / -2) + px;
}

[data-flex~="no-gutter"] {
  @include flex-wrap(wrap);
  margin-left: 0 !important;
  margin-right: 0 !important;

  > [data-col] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

[data-flex~="tile"] {
  @include flex-wrap(wrap);
}

[data-flex~="center-all"] {
  @include justify-content(center);
  @include align-items(center);
}