@mixin keyframes($str) {
  @-webkit-keyframes #{$str} {
    @content;
  }
  @-moz-keyframes #{$str} {
    @content;
  }
  @keyframes #{$str} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: $str;
  -moz-animation: $str;
  -ms-animation: $str;
}