// Button Mixin for Variables
// ------------------------------------------------

@mixin button-styles($bg, $border, $text, $radius, $shadow) {
  background-color: $bg;
  border: $border;
  color: $text;
  @include border-radius($radius);
  @include box-shadow($shadow);
}
