@mixin radial-gradient($from, $to) {
  background: -moz-radial-gradient($from, $to);
  background: -webkit-radial-gradient($from, $to);
  background: -o-radial-gradient($from, $to);
  background: -ms-radial-gradient($from, $to);
  background: radial-gradient($from, $to);
  background-color: $to;
}

@mixin linear-gradient($top, $bottom) {
  background: -moz-linear-gradient($top, $bottom); /* FF3.6+ */
  background: -webkit-linear-gradient($top, $bottom); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient($top, $bottom); /* Opera 11.10+ */
  background: -ms-linear-gradient($top, $bottom); /* IE10+ */
  background: linear-gradient($top, $bottom); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start-colour}', endColorstr='#{$start-colour}', GradientType=0); /* IE6-9 */
}

@mixin linear-gradient-rtl($start-colour, $end-colour) {
  background-color: $start-colour;
  background-image: -webkit-linear-gradient(left, $start-colour, $end-colour);
  background-image: -moz-linear-gradient(right, $start-colour, $end-colour);
  background-image: -ms-linear-gradient(right, $start-colour, $end-colour);
  background-image: -o-linear-gradient(right, $start-colour, $end-colour);
  background-image: linear-gradient(to right, $start-colour, $end-colour);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#{$start-colour}', end-colourStr='#{$end-colour}', gradientType='1');
}

