/// @link https://madebymike.com.au/writing/accessible-contrast-with-less-and-sass/
/// @example color: text-contrast(#B0C4DE);

@function luma($color) {
  /// Adapted from: https://gist.github.com/voxpelli/6304812
  $rgba: red($color), green($color), blue($color);
  $rgba2: ();
  @for $i from 1 through 3 {
    $rgb: nth($rgba, $i);
    $rgb: $rgb / 255;
    $rgb: if($rgb < .03928, $rgb / 12.92, pow(($rgb + .055) / 1.055, 2.4));
    $rgba2: append($rgba2, $rgb);
  }
  @return (.2126 * nth($rgba2, 1) + .7152 * nth($rgba2, 2) + 0.0722 * nth($rgba2, 3))*100;
}

@function contrastRatio($color1, $color2) {
  $luma1: luma($color1) + 5;
  $luma2: luma($color2) + 5;
  $ratio: $luma1 / $luma2;
  @if $luma1 < $luma2 {
    $ratio: 1 / $ratio;
  }
  @return $ratio;
}

@function setContrast($color, $hue: $color) {
  $aaa: 7;
  $aa: 4.5;

  $list: 10 20 30 40 50 60 70 80 90 100;
  $fallback-lighter: white;
  $fallback-darker: black;
  $last: nth($list, length($list));

  @if (alpha($color) < 1) {
    $color: flattenColor($color);
  }

  @if (alpha($hue) < 1) {
    $hue: flattenColor($hue);
  }

  @each $percent in $list {

    $lighter: lighten($hue, $percent);
    $darker: darken($hue, $percent);
    $darker-ratio: contrastRatio($color, $darker);
    $lighter-ratio: contrastRatio($color, $lighter);

    @if $lighter-ratio >= $darker-ratio {
      @if $lighter-ratio >= $aaa {
        @return $lighter;
      } @else if $percent == $last {
        @if $lighter-ratio >= $aa {
          @return $lighter;
        } @else {
          @return $fallback-lighter;
        }
      }
    } @else {
      @if $darker-ratio >= $aaa {
        @return $darker;
      } @else if $percent == $last {
        @if $darker-ratio >= $aa {
          @return $darker;
        } @else {
          @return $fallback-darker;
        }
      }
    }
  }
}