// function fo generate system colors based on
@function systemColor($target, $colors: $link $super $minor $highlight) {
  $targetHue: hue($target);
  $totalHue: 0;
  $totalSat: 0;
  $totalLight: 0;

  @each $current-color in $colors {
    $i: index($colors, $current-color);
    $totalHue: $totalHue + hue($current-color);
    $totalSat: $totalSat + saturation($current-color);
    $totalLight: $totalLight + lightness($current-color);
  }

  $totalHue: $totalHue / length($colors);
  $totalSat: $totalSat / length($colors);
  $totalLight: $totalLight / length($colors);

  @return hsl($targetHue, $totalSat, $totalLight);
}

@function rem($value, $base: $base-size) {
  @return ($value / $base) + rem;
}