// Button Basic Styles
// ------------------------------------------------

input[type=submit],
input[type=reset],
button,
.btn {
  // core styles
  @include appearance(none);
  @include user-select(none);
  outline: none;
  border: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  text-decoration: none;
  position: relative;

  // global styles
  font-size: rem(16);
  line-height: rem(24);
  min-width: rem(40);
  margin: rem(4);
  padding: rem(8) rem(16);

  &:active,
  &:focus {
    outline: none;
  }

  &.disabled,
  &[disabled*='disabled'] {
    opacity: .6;
    cursor: not-allowed;
    @include box-shadow(none);
  }

  // ec-icon styles for default btn

  .ec-icon {
    //cursor: inherit;
    display: inline;

    &:empty{
      margin-left: rem(-16);
      margin-right: rem(-16);

      &:before{
        padding-right: 0;
      }
    }

    &:before {
      padding-right: rem(8);
    }
  }

  &.small {
    font-size: rem(14);
    line-height: rem(24);
    min-width: rem(24);
    padding: 0 rem(8);

    .ec-icon {
      &:before {
        font-size: rem(16);
        line-height: rem(24);
        padding-right: rem(8);
      }

      &:empty{
        margin-left: rem(-8);
        margin-right: rem(-8);

        &:before{
          padding-right: 0;
        }
      }
    }
  }

  &.big {
    font-size: rem(20);
    line-height: rem(28);
    padding: rem(10) rem(16);

    .ec-icon {
      &:before {
        font-size: rem(28);
        line-height: rem(28);
      }

      &:empty{
        margin-left: rem(-16);
        margin-right: rem(-16);
      }
    }
  }

  &.block {
    width: 100%;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
}