// Button Utlilities
// ------------------------------------------------


input[type=submit],
button,
.button{
  &.button--block {
    display: block;
    width: 100%;
  }

  &.button--wide {
    min-width: unitSize(30);
    padding-left: unitSize(2);
    padding-right: unitSize(2);
  }

  &.button--sm {
    font-size: unitSize(2, -2);
    line-height: unitSize(3);
    padding: unitSize(.5);
    height: unitSize(4);
    min-width: unitSize(4);

    [class*="icon"] {
      font-size: unitSize(2);
      line-height: unitSize(3);
    }
  }

  &.button--lg {
    font-size: unitSize(2, 2);
    line-height: unitSize(4);
    padding: unitSize(1);
    height: unitSize(6);
    min-width: unitSize(6);

    [class*="icon"] {
      font-size: unitSize(3);
      line-height: unitSize(4);
    }
  }
}
