// Button Basic Styles
// ------------------------------------------------

input[type=submit],
input[type=reset],
button,
.btn {
  @include appearance(none);
  @include user-select(none);
  outline: none;
  border: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  @include ellipsis;
  margin: unitSize(.5);
  cursor: pointer;
  font-weight: bold;
  touch-action: manipulation;
  font-size: unitSize(2);
  height: unitSize(5);
  line-height: unitSize(3);
  min-width: unitSize(5);
  padding: unitSize(1);
  text-decoration: none;

  &:active,
  &:focus {
    outline: none;
  }
}