//
// Color Palette
// -------------

$text: #222222;
$link: #FF5252;

// Colors
$colors: (
        base: (
                "text": $text,
                "link": $link,
                "linkHover": darken($link, 10%),
        ),
        text: (
                "default": $text,
                "light": rgba($text, 0.6),
                "lighter": rgba($text, 0.4)
        ),
        state: (
                "selected": #FF8A80,
                "disabled": rgba($text, 0.2)
        )
) !default;