// Input Style
// --------------------------

$inputBG: getColor(input, bg);
$inputText: getColor(input, text);
$inputBorder: 1px solid getColor(input, border);
$inputRadius: 4px;

// InputDisabled Style
// --------------------------

$inputDisabledBG: getColor(inputDisabled, bg);
$inputDisabledText: getColor(inputDisabled, text);
$inputDisabledBorder: ;
$inputDisabledRadius: ;


label {
  font-size: pxToEm(14);
  line-height: unitSize(2.5);
  font-weight: normal;
  margin-bottom: unitSize(.5);
  display: block;
}

input:not([type="submit"]),
select,
textarea {
  font-size: pxToEm(14);
  width: 100%;
  font-weight: normal;
  display: block;
  padding: unitSize(.5) unitSize(1);
  line-height: normal;
  min-height: unitSize(3);
  outline: none;
  margin-bottom: unitSize(.5);
  background-color: $inputBG;
  color: $inputText;
  border: $inputBorder;
  @include border-radius($inputRadius);

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: $inputDisabledBG;
    color: $inputDisabledText;
    border: $inputDisabledBorder;
    @include border-radius($inputDisabledRadius);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    color: white;
  }
}

input:not([type="submit"]) {
  // Remove focus styles
  &[type="checkbox"],
  &[type="radio"],
  &[type="range"],
  &[type="file"],
  &[type="color"],
  &[type="submit"] {
    &:focus {
      border-color: transparent;
      box-shadow: none;
      outline: none;
    }
  }
}

// Keep the original size for this small inputs
input[type="checkbox"],
input[type="file"],
input[type="image"],
input[type="radio"] {
  height: auto;
  width: auto;
}

// Checkbox & radio
input[type="checkbox"],
input[type="radio"] {
  line-height: normal;
  padding: 0;
  vertical-align: middle;
}

// Checkbox & radio elements are inline with their label
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin: 0 0 0 .5em;
  line-height: unitSize(4, -2);
  vertical-align: middle;
}

// File upload
input[type="file"] {
  border: none;
  line-height: 100%;
  padding: 0;
}

// Textarea
textarea {
  height: auto;
  resize: vertical;
}

// Style select like a standard input - Internet Explorer 11+
select {
  background-color: $inputBG;
  border-radius: 5px;
  padding: 0;

  &[disabled] {
    color: getColor(text, secondary);
  }

  &[multiple] {
    height: auto;
  }

  &::-ms-expand {
    display: none;
  }

  &::-ms-value {
    color: currentColor;
  }

  option {
    padding: 0 .75em
  }
}

// Range input
input[type="range"] {
  border: none;
  padding: 0;
  width: 100%;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    background-color: darken(getColor(background, light), 10%);
    border: none;
    border-radius: 3px;
    height: 5px;
  }

  &::-webkit-slider-thumb {
    border: none;
    border-radius: 50%;
    background-color: getColor(base, primary);
    height: 16px;
    margin-top: -5px;
    width: 16px;
    -webkit-appearance: none;
  }

  &::-moz-range-track {
    background-color: darken(getColor(background, light), 10%);
    border: none;
    border-radius: 3px;
    height: 5px;
  }

  &::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    background-color: getColor(base, primary);
    height: 16px;
    margin-top: -5px;
    width: 16px;
  }

  &::-ms-track {
    background-color: darken(getColor(background, light), 10%);
    border: none;
    border-radius: 3px;
    color: transparent;
    height: 5px;
  }

  &::-ms-thumb {
    border: none;
    border-radius: 50%;
    background-color: getColor(base, primary);
    height: 16px;
    margin-top: -5px;
    width: 16px;
  }
}