.input--group {
  padding: unitSize(.5) 0;
  margin: 0 0 unitSize(.5) 0;

  p{
    margin: 0 0 unitSize(.5) 0;

    small{
      font-size: pxToEm(12);
      color: getColor(text, light);
    }
  }
}

.ng-submitted{
  input:not([type="submit"]),
  select,
  textarea{
    &.ng-invalid{
      border-color: getColor(state, error);
    }
  }
}


//flat input style

input:not([type="submit"]),
select,
textarea{
  &.input--flat {
    background-color: transparent;
    border: none;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid getColor(inputFlat, border);
    @include border-radius(0);

    &:focus{
      border-bottom: 2px solid getColor(inputFlat, borderActive);
    }
  }
}