@for $i from 1 through ($numColumns - 1) {

  [#{$prefix}col~="pull#{$i}"] {
    right: 100 / $numColumns * $i * 1%;
  }

  [#{$prefix}col~="pull#{$i}sm"] {
    @media (min-width: $bpSm) {
      right: 100 / $numColumns * $i * 1%;
    }
  }

  [#{$prefix}col~="pull#{$i}md"] {
    @media (min-width: $bpMd) {
      right: 100 / $numColumns * $i * 1%;
    }
  }

  [#{$prefix}col~="pull#{$i}lg"] {
    @media (min-width: $bpLg) {
      right: 100 / $numColumns * $i * 1%;
    }
  }

  [#{$prefix}col~="pull#{$i}xl"] {
    @media (min-width: $bpXl) {
      right: 100 / $numColumns * $i * 1%;
    }
  }

  [#{$prefix}col~="push#{$i}"] {
    left: 100 / $numColumns * $i * 1%;
  }

  [#{$prefix}col~="push#{$i}sm"] {
    @media (min-width: $bpSm) {
      left: 100 / $numColumns * $i * 1%;
    }
  }

  [#{$prefix}col~="push#{$i}md"] {
    @media (min-width: $bpMd) {
      left: 100 / $numColumns * $i * 1%;
    }
  }

  [#{$prefix}col~="push#{$i}lg"] {
    @media (min-width: $bpLg) {
      left: 100 / $numColumns * $i * 1%;
    }
  }

  [#{$prefix}col~="push#{$i}xl"] {
    @media (min-width: $bpXl) {
      left: 100 / $numColumns * $i * 1%;
    }
  }
}
