//
// Variables
// ---------

// Attribute prefix
$prefix: "data-" !default;

// Max width for container
$containerWidth: 1200px !default;

// Gutter size in pixels (without the unit we can do math easily)
$gutter: 32 !default;

// Number of columns in a row
$numColumns: 12 !default;
