.overlay--header {
  padding: unitSize(1) 0;
  margin-bottom: unitSize(2);
  position: relative;

  h2 {
    margin: 0;
    font-size: pxToEm(20);
    line-height: unitSize(3);
    color: getColor(overlay, text);
    text-transform: uppercase;
    font-weight: bold;
  }
}

.overlay--footer {
  margin-top: unitSize(2);
  padding: unitSize(1);
  text-align: center;
}

.overlay--full {
  visibility: hidden;
  position: fixed;
  z-index: $z-overlay;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include linear-gradient-rtl(getColor(overlay, bg), getColor(overlay, bg2))
  opacity: 0;
  @include transition(opacity 0.4s);
  overflow: auto;

  .overlay--content {
    @include transform(translate3D(0, 100%, 0));
    opacity: 0;
    @include transition(all 0.4s);
    margin: 0 auto;
    margin-top: unitSize(4);
    max-width: 640px;
  }

  &.active {
    opacity: 1;
    visibility: visible;

    .overlay--content {
      opacity: 1;
      @include transform(translate3D(0, 0, 0));
    }
  }
}