.pagination {
  list-style: none;
  margin: unitSize(1);

  li {
    vertical-align: middle;

    &:last-child {
      position: relative;
      float: right;
      margin-top: unitSize(.5);

      &:before {
        content: 'Einträge pro Seite';
        position: absolute;
        top: 50%;
        left: 0;
        padding-right: unitSize(1);
        font-size: pxToEm(12);
        @include transform(translate3D(-100%, -50%, 0));
        display: block;
        white-space: nowrap;
      }
    }
  }

  li:not(:last-child) {
    display: none;
    margin: 0 unitSize(.5);
    font-size: pxToEm(14);
    line-height: unitSize(3);
    min-width: unitSize(5);
    height: unitSize(5);
    text-align: center;
    padding: unitSize(1);
    @include border-radius(unitSize(2.5));
    background-color: getColor(background, light);
    @include transition(background-color .4s);

    &:hover {
      background-color: getColor(base, primary);
      color: white
    }

    &:first-child,
    &:last-child,
    &[ng-click*="toPage(currentPage+1)"],
    &[ng-click*="toPage(currentPage-1)"],
    &.active,
    &.active + li,
    &.active + li + li, {
      display: inline-block;
    }

    &[ng-click*="toPage(currentPage+1)"] {
      position: relative;
      margin-left: unitSize(6);

      &.disabled {
        margin-left: unitSize(.5);

        &:after {
          display: none;
        }
      }

      &:hover {
        color: white;

        a{
          color: inherit;
        }

        &:after {
          color: getColor(text, default);
        }
      }

      &:after {
        display: inline-block;
        position: absolute;
        top: 0;
        left: unitSize(-5.5);
        content: '...';
        font-size: pxToEm(14);
        line-height: unitSize(3);
        min-width: unitSize(5);
        height: unitSize(5);
        text-align: center;
        padding: unitSize(1);
        @include border-radius(unitSize(2.5));
        background-color: getColor(background, light);
        pointer-events: none;
        @include transition(none);
      }
    }

    &[ng-click*="toPage(currentPage-1)"] {
      position: relative;
      margin-right: unitSize(6);

      &.disabled {
        margin-right: unitSize(.5);

        &:after {
          display: none;
        }
      }

      &:hover {
        color: white;

        a{
          color: inherit;
        }

        &:after {
          color: getColor(text, default);
        }
      }

      &:after {
        display: inline-block;
        position: absolute;
        top: 0;
        right: unitSize(-5.5);
        content: '...';
        font-size: pxToEm(14);
        line-height: unitSize(3);
        min-width: unitSize(5);
        height: unitSize(5);
        text-align: center;
        padding: unitSize(1);
        @include border-radius(unitSize(2.5));
        background-color: getColor(background, light);
        pointer-events: none;
        @include transition(none);
      }
    }

    &.active {
      background-color: getColor(base, primary);
      color: white;

      a {
        color: inherit;
      }
    }
  }
}