//
// Panels
// --------------------------------------------------


// Base class
.panel {
  background-color: getColor(panel, bg);
  margin-bottom: 16px;
}

// Panel contents
.panel-body {
  @include clearfix;
  padding: unitSize(2);
}

// Optional heading
.panel-heading {
  outline: none;
  padding: 0 0 0 unitSize(2);
  border-bottom: 1px solid getColor(base, divider);
  background-color: getColor(panel, headingBg);

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
  line-height: unitSize(3);
  font-size: pxToEm(14);
  font-weight: bold;
  text-transform: uppercase;
  color: getColor(panel, headingText);

  > a,
  > small,
  > .small,
  > small > a,
  > .small > a {
    color: inherit;
  }

  > a {
    padding: unitSize(1) 0;
    padding-right: unitSize(5);
    outline: none;
    position: relative;
    display: block;
    color: inherit;

    &:after {
      @extend .ec-icon;
      position: absolute;
      content: "\e01b";
      top: 50%;
      right: unitSize(2);
      color: getColor(text, lightest);
      @include transform(translateY(-50%));
      font-size: unitSize(2);
    }
  }
}

.panel-open {
  .panel-heading {
    .panel-title {
      a {
        &:after {
          content: "\e098";
        }
      }
    }
  }
}


// Optional footer (stays gray in every modifier class)
.panel-footer {
}


// List groups in panels
//
// By default, space out list group content from panel headings to account for
// any kind of custom content between the two.

.panel {
  > .list-group,
  > .panel-collapse > .list-group {

    .list-group-item {
    }
  }
}




// Collapsable panels (aka, accordion)
//
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.panel-group {

  // Tighten up margin so it's only between panels
  .panel {
    + .panel {
    }
  }

  .panel-heading {
    + .panel-collapse > .panel-body,
    + .panel-collapse > .list-group {
    }
  }

  .panel-footer {
    + .panel-collapse .panel-body {
    }
  }
}

.collapse.in {
  display: block;
}

.collapse {
  display: none;
}