// Breakpoints
$bpXs: 30em !default; /* 480px Big smartphone */
$bpSm: 48em !default; /* 768px Small devices */
$bpMd: 60em !default; /* 960px Medium devices */
$bpLg: 70em !default; /* 1120px Large devices */
$bpXl: 80em !default; /* 1280px Very Large devices*/


$bpXsMax: ($bpSm - 1) !default;
$bpSmMax: ($bpMd - 1) !default;
$bpMdMax: ($bpLg - 1) !default;
$bpLgMax: ($bpXl - 1) !default;

// z-index positioning
$zMainHeader: 400;
$zToolbar: 400;
$zSidebar: 1000;
$zOverlay: 1000;
$zLoading: 9999;

$shadowDeep: 0 4px 8px rgba(black, 0.2), 0 1px 2px rgba(black, 0.2);
$shadowLow: 0 2px 4px rgba(black, 0.2), 0 1px 1px rgba(black, 0.2);