$shadowListItem: 0 2px 4px rgba(black,0.1);

li.list-item,
.list-item {
  position: relative;
  display: block;
  font-size: pxToEm(14);
  line-height: unitSize(3);
  padding-top: unitSize(1);
  padding-bottom: unitSize(1);
  padding-left: unitSize(2);
  padding-right: unitSize(2);
  background-color: getColor(listItem, bg);
  @include border-radius(unitSize(5));
  @include ellipsis;

  &.list-item-left {
    padding-left: unitSize(6);

    i:first-child{
      position: absolute;
      left: unitSize(2);
      font-size: pxToEm(16);
      right: auto;
      top: 50%;
      @include transform(translateY(-50%));
      color: getColor(text, lightest);
    }
  }

  &.list-item-right {
    padding-right: unitSize(6);

    i:last-child{
      position: absolute;
      right: unitSize(2);
      font-size: pxToEm(16);
      left: auto;
      top: 50%;
      @include transform(translateY(-50%));
      color: getColor(text, lightest);
    }
  }

  [class*="chevron"]{
    @include transition(margin-right .2s);
  }

  &:hover{
    background-color: getColor(listItem, bgHover);

    [class*="chevron"]{
      margin-right:-4px;
    }
  }
}

a.list-item{
  &:hover{
    @include box-shadow($shadowListItem);
  }
}