.menu-item {
  position: relative;
  padding: unitSize(1);
  line-height: unitSize(3);
  font-size: pxToEm(14);
  display: block;

  &.menu-item-right {
    padding-right: unitSize(5);

    i:last-child,
    [class*="icon"] {
      position: absolute;
      top: 50%;
      right: 0px;
      text-align: center;
      width: 40px;
      font-size: 1em;
      @include transform(translateY(-50%));
    }
  }
}